{% extends "layout.html" %}

{% block content %}
    <h2>جدول الأدوية</h2>

    {% if medicines %}
        <table border="1" cellpadding="10">
            <tr>
                <th>الاسم</th>
                <th>عدد المرات في اليوم</th>
                <th>الأوقات</th>
            </tr>
            {% for med in medicines %}
            <tr>
                <td>{{ med[1] }}</td>
                <td>{{ med[2] }}</td>
                <td>{{ med[3] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>لا توجد أدوية مضافة بعد.</p>
    {% endif %}
{% endblock %}
